parameters:
    level: 10
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src/
        - ./tests/

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
