<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false" 
         bootstrap="vendor/autoload.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="false">
         
  <testsuites>
    <testsuite name="CssToInlineStyles Tests">
        <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  
  <filter>
    <blacklist>
      <directory>./vendor</directory>
      <directory>./example</directory>
      <directory>./tests</directory>
    </blacklist>
  </filter>
</phpunit>
